@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  // font-family: "Nunito", sans-serif;
  // font-optical-sizing: auto;
  // font-style: normal;
  &::after,
  &::before {
    content: "";
    display: inline-block;
    position: fixed;
    filter: blur(7vw);
    opacity: 0.5;
  }
  &::before {
    left: 0%;
    bottom: 5%;
    width: 40%;
    height: 65%;
    background-color: #2c32f3;
    border-radius: 100%;
    animation: move-blue 10s ease-in-out infinite alternate;
    opacity: 0.4;
  }
  &::after {
    right: 3%;
    top: 15%;
    width: 39%;
    height: 30%;
    background-color: #ed3769c7;
    filter: blur(5vw);
    border-radius: 100%;
    animation: move-pink 10s ease-in-out infinite alternate;
    box-shadow: 0 0 0px 2vw #ed3769c7;
  }
  .overlay {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    // opacity: 0.4;
    opacity: 0;
    z-index: 1;
  }
  &.dark {
    background-color: #282c34;
    .overlay {
      background-color: #282c34;
    }
  }
}

@keyframes move-pink {
  0% {
    transform: translate(0, 100px) scale(1);
  }
  100% {
    transform: translate(0, 200px) scale(1.5);
    filter: blur(8vw);
    right: 60%;
  }
}
@keyframes move-blue {
  0% {
    /* transform: translate(0, 0); */
    /* left: 10%; */
    transform: scale(1);
    filter: blur(7vw);
  }
  100% {
    transform: translate(0, -200px);
    /* left: 2%; */
    transform: scale(0.8);
    filter: blur(10vw);
    left: 60%;
  }
}

[id="root"] {
  position: relative;
  z-index: 99;
}

::-webkit-scrollbar {
  width: 10px; /* Set scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}
